[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
chart-studio = "*"
plotly = "*"
flake8 = "*"

[dev-packages]
python-language-server = {extras = ["all"], version = "*"}
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
